#carousel {
    overflow: hidden;
}

#carousel ul {
  width: 2000px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#carousel ul li {
  width: 400px;
  height: 400px;
  list-style: none;
  float: none;
}
